<div class="container">
  <h1 class="title">Songs</h1>
  <table mat-table [dataSource]="songs" class="mat-elevation-z8 demo-table table" table>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>Genre</th>
      <td mat-cell *matCellDef="let element">{{element.genre}}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{element.duration}} (m.s)</td>
    </ng-container>
    <ng-container matColumnDef="album.name">
      <th mat-header-cell *matHeaderCellDef>Album</th>
      <td mat-cell *matCellDef="let element">{{element.album.name}}</td>
  </ng-container>
  <ng-container matColumnDef="album.artist.name">
    <th mat-header-cell *matHeaderCellDef>Artist</th>
    <td mat-cell *matCellDef="let element">{{element.album.artist.name}}</td>
</ng-container> 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button (click)="goToArtists()" class="add-button">
      Go back to artists
    </button>
  </div>